[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==1.11.3"
pillow = "*"
django-password-reset = "*"
social-auth-app-django = "==2.1.0"
dj-database-url = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
"boto3" = "*"
django-storages = "*"


[dev-packages]



[requires]

python_version = "3.6.2"
