
{% extends 'base.html' %}
{% load static %}


{% block content %}
<body>
    {% if user.is_authenticated %}
    <p> Your url</p>

    <input class="campaign-link"  readonly style='width:100%;margin:-3px;border:0px inset #eee' value={{ request.META.HTTP_HOST }}{% url 'get_campaign' campaign.slug %}></p>
    <button class="js-copybtn" style="vertical-align:top;">Copy Link</button>
  
    <p>copy the url and share with your friends</p><p>
  
</p>
<h3>{{ campaign }}</h3>
{% for cm in campaign_response %}
<ul class="response-list">
<li>{{ cm.text }}</li>
<li>{{ cm.created }}</li>
</ul>
{% endfor %}
{% endif %}

</body>
<script src="{% static 'js/copy.js' %}">     </script>
{% endblock %}
