{% extends 'base.html' %}
{% block content %}
{% if campaign.user.userprofile.pic %}
<img  src="{{ campaign.user.userprofile.pic.url }}" id="campaign-image">
{% else %}
<p>picture</p>
{% endif %}

{{ campaign.user.username }}
<form method="POST" action=".">
        {% csrf_token %}
    {{form.as_p}}
<input type="submit">
</form>

<script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"fixitsammie","width":550,"height":250,"sid":"Chitika Default"};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
}());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
{% endblock %}
